
<div class="jumbotron">

<h2>Menu</h2>
<br/>

<%= link_to("Profile ", {:controller => :profile, :action => :profile}, :class => "btn btn-info btn-lg btn-block") %>
<%= link_to("Reports", {:controller => :reports, :action => :student}, :class => "btn btn-primary btn-lg btn-block") %>
<%= link_to("Student", {:controller => :studentmanagement, :action => :liststudents}, :class => "btn btn-warning btn-lg btn-block") %>    
<%= link_to("Game", {:controller => :gamemanagement, :action => :manage}, :class => "btn btn-success btn-lg btn-block") %>
<%= link_to("Questions", {:controller => :question_builder}, :class => "btn btn-danger btn-lg btn-block") %>
<%= link_to("Instructors", {:controller => :instructors, :action => :listinstructors}, :class => "btn btn-default btn-lg btn-block") %>
</div>