<form role="form" summary="Instructor form fields">
  <div class="form-group">
    <%= f.label(:username, "Username") %>
    <%= f.text_field(:username) %>
  </div>
  
  <div class="form-group">
    <%= f.label(:email, "Email") %>
     <%= f.text_field(:email) %>
  </div>

 <div class="form-group">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </div>

<div class="form-group">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form-buttons">
        <%= submit_tag("Create Instructor", :class => "btn btn-success") %>
  </div>
</form>
