<h2>Editing 
<%= @instructor.username %></h2>

		<%= form_for(:instructor, :url => {:action => :change, :id => @id, :method => :put}) do |f| %>

    	<%= render(:partial => "update", :locals => {:f => f}) %>

    	<% end %>
<br/>
<%= link_to("Back to Edit", {:controller => :instructors, :action => :edit, :id => @id}, :class => "btn btn-primary btn-xs") %>   
<br/>
<br/>
<%= link_to("Back to Instructors", {:controller => :instructors, :action => :listinstructors}, :class => "btn btn-primary") %>   