<!DOCTYPE html>
<html>
  <head>
    <title>SCRATCH | <%= @page_title || "Web App" %></title>
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>
    <%= javascript_include_tag('application', 'data-turbolinks-track' => true) %>
    <%= csrf_meta_tags %> 
  </head>


<body>
<!-- <body style="background-color:#1EB18A"> -->
<!-- <body>
 --><!--     <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
      <%= render 'shared/flash_messages' %>
        </div>
      </div> -->

      
    <div id="header" class="container">
      <div class="well well-lg"><h1 class="text-center">Snowy SCRATCH</h1></div>
    </div>

    <div id="common_container" class="container">

    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
      <%= render 'shared/flash_messages' %>
        </div>
      </div>

      <% if !session[:username].blank? %>
        <div id="id_link" class="container">
<!--           <div class="text-right">
            <%= link_to('Welcome, ' + session[:username], :controller => :profile, :action => :profile )%>
          </div> -->
        </div>
      <% end %>

    </div>

    <div id="content" class="container">
        <%= yield %>
    </div>
  </div>
  </body>